@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Learn About <a href="http://docs.microsoft.com/aspnet/core"> bulding Web apps with ASP.Net Core </a>.</
</div>